<html>
  <head>
    <title>
      {{title}}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
     />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Barlow"
     />

    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="https://js.quid.works/v1/assets/quid.css" />
    <script src="https://js.quid.works/v1/client.js"></script>
  </head>
  <body>
    <div class="shell">
      <div class="header">
        <img src="../assets/pennywall-brown.png" class="pennywall" />
      </div>
      <div class="form">
        <h2 style="width:100%;text-align:center">
          {{params.title}}
        </h2>
        <div class="message">
          {{params.message}}
        </div>
        <div style="text-align:center;width:100%">
          <i class="material-icons">
            sentiment_very_satisfied
          </i>
        </div>
        <div
          style="width:100%;display:flex;justify-items:center;align-items:center"
        >
          <div
            class="quid-slider"
            quid-amount="{{product.price}}"
            quid-min-amount="{{button.min}}"
            quid-max-amount="{{button.max}}"
            quid-currency="{{product.currency}}"
            quid-product-id="{{product.id}}"
            quid-palette="maroon"
            quid-product-url="{{product.url}}"
            quid-product-name="{{product.name}}"
            quid-product-description="{{product.description}}"
            quid-text="{{button.text}}"
            quid-text-paid="{{button.paidText}}"
          ></div>
        </div>
        {{#if params.allowSkip}}
          <div class="skip">
            <a href={{destination.url}}>
              {{params.skipText}}
            </a>
          </div>
        {{/if}}
      </div>
      <div class="footer">
        Get your own
        <i class="material-icons tiny">
          favorite
        </i>
        at
        <a target="_blank" href="https://pennywall.io">
          pennywall.io
        </a>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>